html {
  font-size: 75%;
}

body {
  position: relative;

  padding: 50px;

  font-size: 1rem;
  line-height: 1.5;
  font-family: 'Arial', 'Open Sans', 'Helvetica', sans-serif;
  font-stretch: normal;
  color: #334152;
  letter-spacing: 0.4px;

  overflow-y: scroll;
}

.data-table {
  width: 100%;
  margin-bottom: 35px;

  border-collapse: collapse;
}

.table__row:nth-child(odd) {
  background-color: #f7f6f7;
}

.table__row td {
  width: 10%;
  padding: 10px;

  text-align: center;
  color: #63656b;
}

.data-row td {
  box-sizing border-box
  height: 100px;
}

.header-row th {
  height: 70px;
  width: 10%;
  padding-left: 5px;
  padding-right: 5px;

  color: #ffffff;
  font-size: 1.1rem;
  text-align: center;

  background-color: #e14547;

  cursor: pointer;
  user-select: none;
}

.header-row th:hover,
.header-row th:focus {
  background-color: #ce3d3f;
}

.header-row th:active {
  background-color: #e14547;
}

.table__row td:first-child,
.table__row th:first-child {
  width: 5%;
}

.pagination-list {
  margin: 0;

  list-style: none;
}

.pagination-list__item {
  display: inline-block;
  margin-right: 10px;
}

.item__page {
  display: inline-block;
  width: 30px;
  height: 30px;

  line-height: 2.5rem;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: #63656b;
  font-size: 1.1rem;

  background-color: #f7f6f7;
  border-radius: 50%;
}

.item__page:hover {
  color: #ffffff;

  background-color: #0078c6;
}

.item__page:active {
  color: #63656b;

  background-color: #f7f6f7;
}

.pagination-list_more > li:last-child {
  position: relative;

  margin-left: 20px;
}

.pagination-list_more > li:last-child:after {
  content: '...';

  position: absolute;
  right: 39px;

  width: 15px;
  height: 15px;

  font-size: 1.7rem;
}

.pagination-list_less > li:first-child {
  position: relative;

  margin-right: 30px;
}

.pagination-list_less > li:first-child:before {
  content: '...';

  position: absolute;
  left: 35px;

  width: 15px;
  height: 15px;

  font-size: 1.7rem;
}

.pagination-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  user-select: none;
}

select {
  border-radius: 5px;
  color: #63656b;
}
